@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&display=swap');

/* 
  font-family: "Oswald", sans-serif;
  font-weight: 200..700;
 */
body {
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    background-image: url('/static/pattern.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

:root {
    --main-color: #E2211C;
    --muted-color: rgba(0, 0, 0, 0.40);
    --black-color: #1F1F1F;
}

a {
    text-decoration: none !important;
    border: none !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.muted-color {
    color: var(--muted-color) !important;
}

.black-color {
    color: var(--black-color) !important;
}

.main-color {
    color: var(--main-color) !important;
}

.main-border-bottom {
    border-bottom: 1px solid #000;
    /* padding: 5px 0; */
}

.main-btn {

    display: flex;
    min-height: 56px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--black-color);
    border-radius: 20px;
    border: none;
    color: #fff;
}

.main-btn-no-bg {
    display: flex;
    min-height: 56px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border-radius: 20px;
    border: none;
    color: #8F8F8F;

    border: 0.649px solid var(--Colors-Primary-200, #8F8F8F);
}



.navbar {
    position: sticky !important;
    top: 0;
    z-index: 999;
    /* مهم عشان يفضل فوق كل العناصر */

    display: flex;
    padding: 30px 16px;
    justify-content: center;
    align-items: center;
    gap: 126px;
    flex-shrink: 0;
    background: #D9D9D9;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(20px);
    font-weight: bold;
}

.container-fluid {
    position: relative;
}

.nav-item.dropdown {
    position: relative !important;
    height: 100%;
}

.navbar-nav {
    height: 100%;
}

.navbar .nav-link {
    height: 100%;
    display: flex;
    align-items: center;
}

/* علشان تظهر القائمة عند الـ hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item.dropdown:hover .dropdown-menu,
.nav-item.dropdown .dropdown-menu:hover {
    display: block;
}

.navbar .logo {
    height: 34px;
}

@media (max-width: 768px) {
    .navbar .logo {
        height: 28px;
    }
}

/* القائمة تاخد عرض الشاشة بالكامل */
.full-width-dropdown {
    width: 100vw;
    left: 0 !important;
    right: 0;
    border-radius: 0;
    border: none;
    top: 100%;
    /* تحت العنصر */
    position: absolute;
    z-index: 1000;
    padding: 2rem;
    background: #D9D9D9;

}


.form-control:focus {
    border-color: transparent !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.navbar a {
    color: var(--Colors-Primary-500, #1F1F1F);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.navbar ul {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.navbar .search-input {
    background-color: #f8f8f8;
    border: none;
    border-radius: 50px;
    padding-left: 40px;
    height: 45px;
    box-shadow: none;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    width: 192px;

}

.navbar .search-input::placeholder {
    color: #888;
    font-weight: 300;
}

.navbar .search-container {
    position: relative;
    width: 100%;
    max-width: 350px;
}

.navbar .search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #666;
    font-size: 16px;
}


.home .hero {
    background: #D9D9D9;
}

.home .hero .hero-text {
    color: var(--black-color);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 84px;
}

@media (max-width: 768px) and (min-width: 425px) {
    .home .hero .hero-text {
        font-size: 45px;
    }
}

@media (max-width: 425px) {
    .home .hero .hero-text {
        font-size: 18px;
        line-height: normal;
    }

    html body .home .hero .hero-content {
        color: #1F1F1F;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 23px;
    }

    .main-btn {

        display: flex;
        min-height: 24.358px;
        padding: var(--12, 12px) var(--24, 24px);
        justify-content: center;
        align-items: center;
        gap: var(--8, 8px);

    }
}

.home .hero img {
    max-height: 450px;
}

.home .hero .hero-content {
    color: #1F1F1F;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.section-title {
    color: #444;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 69px;
}

@media (max-width: 768px) and (min-width: 425px) {
    .section-title {
        font-size: 40px;
    }

}

@media (max-width: 425px) {
    .section-title {
        font-size: 30px;
    }

}

.home .products .product {
    text-align: center !important;
}

.home .products .product .product-name {
    color: #444;
    text-align: center;

    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    /* 150% */
}

.home .products .product img {
    max-height: 360px;
}

.card {
    border: none !important;
}

.home .best_seller .card img {
    height: 172px;
}

.max-width {
    max-width: 100%;
}

.home .best-deal-title {
    color: var(--Colors-Primary-500, #1F1F1F);

    /* Global Tokens/Headings/H-3 */
    font-family: Oswald;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 69px;
}

@media (max-width: 768px) and (min-width: 425px) {
    .home .best-deal-title {
        font-size: 40px;
    }

}

@media (max-width: 425px) {
    .home .best-deal-title {
        font-size: 35px;
    }

}

.home .best-deal-content {
color: var(--Colors-Primary-500, #1F1F1F);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.home .best-deal a {
    color: var(--Colors-Primary-500, #1F1F1F);

    /* Global Tokens/Headings/H-7 */
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

}

footer {
    background: #1F1F1F;

}

footer button {
    background: transparent;
    border-radius: 88px;
    border: 1px solid #4C4B47;
    display: flex;
    width: 88px;
    height: 88px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .social-link {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid #4C4B47 !important;
    color: #4C4B47;
    border-radius: 40px;

}

footer .company {

    color: #4C4B47;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 14px */
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border-bottom: 1px solid #4C4B47;
    padding: 10px 0;
}

footer ul {
    display: flex;
    gap: 15px;
    padding: 20px 0;
    flex-wrap: wrap;

}

footer ul li {
    list-style: none;
    margin-right: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
    letter-spacing: -0.2px;
}

@media (max-width: 425px) {
    footer ul li {

        font-size: 15px;

    }

}

footer ul li a {
    color: #B2B1AA;
}

footer .sub-title {
    color: #4C4B47;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
}

footer .sub-title-active {
    color: #B2B1AA;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
}

footer .sub-description {
    color: #B2B1AA;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
}

@media (max-width: 768px) {
    footer .sub-description {
        font-size: 14px;
    }

    footer img {
        width: 159px;
        height: 52px;
        aspect-ratio: 159 / 52;
        text-align: center;
        margin: auto;
    }
}

footer .footer-copyright {
    background: #0e0e0c !important;
    padding: 15px 25px;
}

.swiper-slide {
    width: auto;
    min-width: 200px;
}

.swiper-slide {
    min-width: 220px;
    border-radius: 10px;
    padding: 16px;
}

.swiper-button-prev,
.swiper-button-next {
    color: #000;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-container {
    padding-bottom: 30px;
    /* مساحة لل scrollbar */
}

.swiper-button-prev,
.swiper-button-next {
    color: #000;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
}

.product {
    text-align: center;
}

.product-name {
    font-weight: bold;
    font-size: 18px;
}

.product-description {
    font-size: 16px;
    color: #666;
}

.swiper-scrollbar {
    height: 6px;
    position: relative !important;
    margin-top: 11px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 22px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    top: 10px;

}

.swiper-button-prev,
.swiper-button-next {
    color: #000;
    top: 50%;
    z-index: 10;
    transform: none;
}

.see-all-link {
    color: var(--Colors-Primary-400, #444);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    /* 150% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.video-section {
    position: relative;
    /* height: 50vh; */
    overflow: hidden;
    color: white;
    background: #00000035;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-content {
    z-index: 1;
    padding: 20px;
    /* background: rgba(0, 0, 0, 0.4); */
    /* Optional dark overlay */
    border-radius: 10px;
}

.video-title {
    color: var(--Colors-Neutral-100, #FFF);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

.video-content {
    color: var(--Colors-Neutral-300, #D2D2D2);

    /* Global Tokens/Body/B-1 */
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding: 0;
    white-space: pre-line;
    width: 100%;
}

.help .title {
    color: var(--Colors-Primary-500, #1F1F1F);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 150% */
}

.help .description {
    color: #606060;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.color {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 6.954px;
    justify-content: center;
    align-items: center;
    gap: 6.954px;
    flex-shrink: 0;
    border-radius: 868.369px;
    border: 0.869px solid var(--Colors-Primary-100, #B4B4B4);
    background: var(--Colors-Neutral-100, #FFF);
}

.mobile-flex,
.mobile {
    display: none;
}

.desktop-flex {
    display: flex;
}

.desktop {
    display: block;
}


@media (max-width: 768px) {

    html body .desktop-flex,
    .desktop {
        display: none !important;
    }

    .mobile-flex {
        display: flex;
    }

    .mobile {
        display: block;
    }

}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input {
    width: 100%;
    padding: 12px 40px 12px 16px;
    font-size: 16px;
    border-radius: var(--12, 12px);
    border: 1px solid var(--black-10, rgba(28, 28, 28, 0.10));
    background: var(--white-80, rgba(255, 255, 255, 0.80));
    outline: none;
    background-color: white !important;

}

.input-wrapper .icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
}

.input-wrapper label {
    color: var(--Colors-Neutral-800, #606060);
    font-feature-settings: 'ss01' on, 'cv01' on;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
}

select {
    display: flex;
    padding: var(--4, 4px) var(--12, 12px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--4, 4px);
    border-radius: var(--12, 12px);
    border: 1px solid var(--black-10, rgba(28, 28, 28, 0.10));
    background: var(--white-80, rgba(255, 255, 255, 0.80));
    align-self: stretch;
    padding: 10px;
}

textarea {
    display: flex;

    padding: 16px var(--12, 12px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--4, 4px);
    align-self: stretch;
    border-radius: var(--12, 12px);
    border: 1px solid var(--black-10, rgba(28, 28, 28, 0.10));
    background: var(--white-80, rgba(255, 255, 255, 0.80));
    resize: none !important;
    min-height: 150px;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}